<main class="about-wrap">
  <div class="about-img__wrap">
    <img
      class="about-img"
      src="https://fakeimg.pl/600x400/b6c9b5/909090?text=My+photo"
      alt=""
    />
  </div>

  <div class="about-txt">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, harum
      quia porro hic, eum molestias sunt, vitae delectus officiis accusamus
      obcaecati voluptas laborum ab ducimus architecto? Quae quidem pariatur
      laboriosam!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, harum
      quia porro hic, eum molestias sunt, vitae delectus officiis accusamus
      obcaecati voluptas laborum ab ducimus architecto? Quae quidem pariatur
      laboriosam! Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Facere, harum quia porro hic, eum molestias sunt, vitae delectus officiis
      accusamus obcaecati voluptas laborum ab ducimus architecto? Quae quidem
      pariatur laboriosam!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, harum
      quia porro hic, eum molestias sunt, vitae delectus officiis accusamus
      obcaecati voluptas laborum ab ducimus architecto? Quae quidem pariatur
      laboriosam! Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Facere!
    </p>
  </div>
</main>
