<button class="goBack-btn">
  <a href="./index.html" class="goBack-link"><svg class="goBack-btn__icon" width="20" height="20">
              <use href="./images/icons.svg#icon-arrow-left"></use>
            </svg> Go Back</a>
</button>
<main class="oneArticle__wrapper">
 <div class="oneArticle-internal">
  <article class="oneArticle-article">
      <h2 class="article__title">Amasing travel to Spain</h2>
      <p class="article__date">21 August 2023</p>
      <div class="article__internal">
        <img class="oneArticle__img" src="./images/hero-bg-2.jpg" alt="" />
        <div class="article__text">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni amet
            veritatis hic eaque vero beatae ducimus pariatur delectus dolores
            accusantium praesentium, saepe accusamus voluptatem sed iusto itaque
            sequi repellendus dolor.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni amet
            veritatis hic eaque vero beatae ducimus pariatur delectus dolores
            accusantium praesentium, saepe accusamus voluptatem sed iusto itaque
            sequi repellendus dolor.Aghl saepe accusamus voluptatem sed iusto
            itaque sequi repellendus dolor.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni amet
            veritatis hic eaque vero beatae ducimus pariatur delectus dolores
            accusantium praesentium, saepe accusamus voluptatem sed iusto itaque
            sequi repellendus dolor.Asaepe accusamus voluptatem sed iusto itaque
            sequi repellendus dolor.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni amet
            veritatis hic eaque vero beatae ducimus pariatur delectus dolores
            accusantium praesentium, saepe accusamus voluptatem sed iusto itaque
            sequi repellendus dolor.
          </p>
          <p>
            Amet consectetur adipisicing elit. Magni amet veritatis hic eaque
            vero beatae ducimus pariatur delectus dolores accusantium
            praesentium, saepe accusamus voluptatem sed iusto itaque sequi
            repellendus dolor hic eaque vero beatae ducimus pariatur delectus
            dolores accusantium praesentium, saepe accusamus voluptatem sed.
          </p>
        </div>
      </div>
    </article>
    <div class="oneArticle-gallery">
      <a class="oneArticle-gallery__link" href="">Photo gallery</a>
    </div>
    <div class="oneArticle-comments">
       <div class="comments-quantity-style"><p class="text-dashed "
          ><span class="comments-quantity">5</span>&nbsp;comments:</p></div>
       
      
      <ul class="comments-list">
        <li class="comments-item">
<p class="comments-author">Jhon</p>
<p class="comments-date">29 August 2023</p>
<div class="comments-text"><p>Consectetur, adipisicing elit. Ratione excepturi obcaecati eveniet omnis sequi fuga saepe iste! Ratione culpa temporibus.</p></div>
        </li> <li class="comments-item">
<p class="comments-author">Alina</p>
<p class="comments-date">15 September 2023</p>
<div class="comments-text"><p> Veniam omnis quasi adipisci atque officia!</p></div>
        </li> <li class="comments-item">
<p class="comments-author">Andreas</p>
<p class="comments-date">09 October 2023</p>
<div class="comments-text"><p>Officia, unde. Atque expedita explicabo sapiente. Quis dolore accusamus assumenda, illo laboriosam iste repellendus quos atque.</p></div>
        </li>
      </ul>
    </div></div>
    
    
  </div>
</main>
