<button class="goBack-btn">
  <a href="./index.html" class="goBack-link"><svg class="goBack-btn__icon" width="20" height="20">
              <use href="./images/icons.svg#icon-arrow-left"></use>
            </svg> Go Back</a>
</button>
<main class="oneArticle__wrapper">
 <div class="oneArticle-internal">
  <article class="oneArticle-article">
     
    </article>
    <div class="oneArticle-gallery">
      <a class="oneArticle-gallery__link" href="">Go to see photo gallery
        <svg class="oneArticle-gallery__icon" width="20" height="20">
              <use href="./images/icons.svg#icon-images"></use>
            </svg>...</a>
    </div>
    <div class="oneArticle-comments">
      <div class="comments-quantity-style"> </div> 
       <ul class="comments-list"> </ul>
    </div></div>
    </div>
</main>
<!-- <img class="oneArticle__img" src="./images/hero-bg-2.jpg" alt="" /> -->