<aside class="sidebar">
  <form class="sidebar-search">
    <input class="sidebar-search__input" type="text" placeholder="Search..." />
    <button class="sidebar-search__btn" type="submit">
      <svg class="sidebar-search__icon" width="20" height="20">
        <use href="./images/icons.svg#icon-search"></use>
      </svg>
    </button>
  </form>
  <label class="dpd-label" for="country">Select country:</label>
  <select class="dpd-select" name="country" id="country">
    <!-- <option value="2" selected>2</option> -->
  </select>
  <div class="topics-cover">
    <p class="topics">Topics</p>
    <svg class="topics__icon" width="20" height="20">
      <use href="./images/icons.svg#icon-circle-down"></use>
    </svg>
  </div>

  <ol class="topics-list">
    <li class="topics-list__item">
      <a class="topics-list__link" href="index.html#advices">Advices</a>
    </li>
    <li class="topics-list__item">
      <a class="topics-list__link" href="index.html#reviews">Reviews</a>
    </li>
    <li class="topics-list__item">
      <a class="topics-list__link" href="index.html#travel-news">Travel news</a>
    </li>
    <li class="topics-list__item">
      <a class="topics-list__link" href="index.html#tips">Tips</a>
    </li>
    <li class="topics-list__item">
      <a class="topics-list__link" href="index.html#useful-info">Useful info</a>
    </li>
  </ol>
</aside>
