<div class="content">
  <ul class="content-list">
    <li class="content-list__item">
      <article class="article__wrapper">
        <h2 class="article__title">Amasing travel to Spain</h2>
        <p class="article__date">21 August 2023</p>
        <div class="article__internal">
          <img class="article__img" src="./images/hero-bg-2.jpg" alt="" />
          <div class="article__text">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni
              amet veritatis hic eaque vero beatae ducimus pariatur delectus
              dolores accusantium praesentium, saepe accusamus voluptatem sed
              iusto itaque sequi repellendus dolor.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni
              amet veritatis hic eaque vero beatae ducimus pariatur delectus
              dolores accusantium praesentium, saepe accusamus voluptatem sed
              iusto itaque sequi repellendus dolor.Aghl saepe accusamus
              voluptatem sed iusto itaque sequi repellendus dolor.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni
              amet veritatis hic eaque vero beatae ducimus pariatur delectus
              dolores accusantium praesentium, saepe accusamus voluptatem sed
              iusto itaque sequi repellendus dolor.Asaepe accusamus voluptatem
              sed iusto itaque sequi repellendus dolor.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni
              amet veritatis hic eaque vero beatae ducimus pariatur delectus
              dolores accusantium praesentium, saepe accusamus voluptatem sed
              iusto itaque sequi repellendus dolor.
            </p>
          </div>
        </div>
      </article>
      <a class="content-list__link" href="./article-page.html">Read more...</a>
      <p class="content-list__comments">
        <span class="text-dashed"
          ><span class="comments-quantity">5</span>&nbsp;comments</span
        >
      </p>
    </li>
    <li class="content-list__item">
      <article class="article__wrapper">
        <h2 class="article__title">Sommer in Germany</h2>
        <p class="article__date">19 May 2023</p>
        <div class="article__internal">
          <img class="article__img" src="./images/hero-bg-2.jpg" alt="" />
          <div class="article__text">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni
              amet veritatis hic eaque vero beatae ducimus pariatur delectus
              dolores accusantium praesentium, saepe accusamus voluptatem sed
              iusto itaque sequi repellendus dolor.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni
              amet veritatis hic eaque vero beatae ducimus pariatur delectus
              dolores accusantium praesentium, saepe accusamus voluptatem sed
              iusto itaque sequi repellendus dolor.Aghl saepe accusamus
              voluptatem sed iusto itaque sequi repellendus dolor. Gaale saepeac
              cusamusvoluptatem sed iusto itaque sequi repellendus dolor.
            </p>
          </div>
        </div>
      </article>
      <a class="content-list__link" href="./article-page.html">Read more...</a>
      <p class="content-list__comments">
        <span class="text-dashed">
          <span class="comments-quantity">5</span>&nbsp;comments</span
        >
      </p>
    </li>
    <li class="content-list__item">
      <article class="article__wrapper">
        <h2 class="article__title">Dahab in February</h2>
        <p class="article__date">15 April 2023</p>
        <div class="article__internal">
          <img class="article__img" src="./images/hero-bg-2.jpg" alt="" />
          <div class="article__text">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni
              amet veritatis hic eaque vero beatae ducimus pariatur delectus
              dolores accusantium praesentium, saepe accusamus voluptatem sed
              iusto itaque sequi repellendus dolor.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni
              amet veritatis hic eaque vero beatae ducimus pariatur delectus
              dolores accusantium praesentium, saepe accusamus voluptatem sed
              iusto itaque sequi repellendus dolor.Aghl saepe accusamus
              voluptatem sed iusto itaque sequi repellendus dolor.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni
              amet veritatis hic eaque vero beatae ducimus pariatur delectus
              dolores accusantium praesentium, saepe accusamus voluptatem sed
              iusto itaque sequi repellendus dolor.Asaepe accusamus voluptatem
              sed iusto itaque sequi repellendus dolor.
            </p>
          </div>
        </div>
      </article>
      <a class="content-list__link" href="./article-page.html">Read more...</a>
      <p class="content-list__comments">
        <span class="text-dashed"
          ><span class="comments-quantity">5</span>&nbsp;comments</span
        >
      </p>
    </li>
  </ul>
</div>
<!-- src="https://fakeimg.pl/600x400?text=Articles+photo" -->
