<div class="content">
  <ul class="content-list">
    <li class="content-list__item">
      <article class="article__wrapper">
        <h2 class="article__title">Amasing travel to Spain</h2>
        <p class="article__date">21 August 2023</p>
        <p class="article__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni amet
          veritatis hic eaque vero beatae ducimus pariatur delectus dolores
          accusantium praesentium, saepe accusamus voluptatem sed iusto itaque
          sequi repellendus dolor.
        </p>
      </article>
      <button class="content-list__btn">Read more</button>
      <p class="content-list__comments">
        <span class="comments-quantity">5</span>&nbsp;comments
      </p>
    </li>
    <li class="content-list__item">
      <article class="article__wrapper">
        <h2 class="article__title">Sommer in Germany</h2>
        <p class="article__date">19 May 2023</p>
        <p class="article__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni amet
          veritatis hic eaque vero beatae ducimus pariatur delectus dolores
          accusantium praesentium, saepe accusamus voluptatem sed iusto itaque
          sequi repellendus dolor.
        </p>
      </article>
      <button class="content-list__btn">Read more</button>
      <p class="content-list__comments">
        <span class="comments-quantity">5</span>&nbsp;comments
      </p>
    </li>
    <li class="content-list__item">
      <article class="article__wrapper">
        <h2 class="article__title">Dahab in February</h2>
        <p class="article__date">15 April 2023</p>
        <p class="article__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni amet
          veritatis hic eaque vero beatae ducimus pariatur delectus dolores
          accusantium praesentium, saepe accusamus voluptatem sed iusto itaque
          sequi repellendus dolor.
        </p>
      </article>
      <button class="content-list__btn">Read more</button>
      <p class="content-list__comments">
        <span class="text-dashed">&nbsp;comments</span>
        <span class="comments-quantity">5</span>
      </p>
    </li>
  </ul>
</div>
