<div class="wrapper">
  <header class="header">My header</header>
  <div class="hero">My hero</div>
  <aside class="sidebar">Sidebar</aside>
  <article class="content">
    <h1>2 column, header and footer</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni amet
      veritatis hic eaque vero beatae ducimus pariatur delectus dolores
      accusantium praesentium, saepe accusamus voluptatem sed iusto itaque sequi
      repellendus dolor.
    </p>
  </article>
  <footer class="footer">My footer</footer>
</div>
