<header class="header">
  <nav class="header-nav">
    <a class="header__logo" href="./index.html"
      ><img class="logo-img" src="./images/frog.png" alt="Logo Travel Blog"
    /></a>
    <ul class="header-nav__list">
      <li class="header-nav__item">
        <a class="header-nav__link" href="./index.html">Articles</a>
      </li>
      <li class="header-nav__item">
        <a class="header-nav__link" href="./about.html">About me</a>
      </li>
      <li class="header-nav__item">
        <a class="header-nav__link" href="./contact.html">Contact us</a>
      </li>
    </ul>
  </nav>
</header>
