<div class="backdrop-auth-user is-hidden">
  <!-- is-hidden -->
  <!-- form auth -->
  <div class="modal-auth">
    <!-- <div class="modal-auth__btn-close"> -->
    <button type="button" data-modal-close class="modal-auth__button-close">
      <svg class="modal-auth__close-icon" width="30" height="30">
        <use href="./images/icons.svg#icon-cancel-circle"></use>
      </svg>
    </button>
    <!-- </div> -->
    <h2 class="form-auth__title">Login</h2>

    <form class="form-auth">
      <div class="form-auth__box">
        <lable class="form-auth__lable">Email</lable>
        <input type="text" name="email" class="form-auth__input" />
      </div>

      <div class="form-auth__box">
        <lable class="form-auth__lable">Password</lable>
        <input type="password" name="pass" class="form-auth__input" />
      </div>

      <div class="form-auth__box-button-form">
        <button type="submit" class="form-auth__btn-submit">Log in</button>
        <div class="form-auth__registrate">
          <p class="title-question-user">Don't have an account?</p>
          <button class="form-auth__button-reg">Register</button>
        </div>
      </div>
    </form>
  </div>
</div>
