<div class="backdrop-auth-user is-hidden">
 
  <div class="modal-auth">
   
    <button type="button" data-modal-close class="modal-auth__button-close">
      <svg class="modal-auth__close-icon" width="30" height="30">
       <use href="./images/icons.svg#icon-cancel-circle-im">
      </svg>
    </button>
   

    <h2 class="form-auth__title">Login</h2>

    <form class="form-auth" autocomplete="on" >
      <div class="form-auth__box">
        <lable class="form-auth__lable">Email</lable>
        <input type="email" name="email" class="form-auth__input" />
      </div>

      <div class="form-auth__box">
        <lable class="form-auth__lable">Password</lable>
        <input type="password" autocomplete="current-password" name="pass" class="form-auth__input" />
      </div>

      <div class="form-auth__box-button-form">
        <button type="submit" class="form-auth__btn-submit">Log in</button>
        <div class="form-auth__registrate">
          <p class="title-question-user">Don't have an Account?</p>
          <button class="form-auth__button-reg">Register</button>
        </div>
      </div>
    </form>
  </div>
</div>

