<div class="backdrop-auth-user is-hidden">
  <!-- is-hidden -->
  <!-- form auth -->
  <div class="modal-auth">
    <!-- <div class="modal-auth__btn-close"> -->
    <button type="button" data-modal-close class="modal-auth__button-close">
      <svg class="modal-auth__close-icon" width="30" height="30">
        <use href="./images/icons.svg#icon-circle-down"></use>
      </svg>
    </button>
    <!-- v2 -->
    <button type="button" class="modal-auth__button-close-2">
      <svg class="modal-auth__close-icon-2" width="30" height="30">
        <use href="./images/icons.svg#icon-cancel-circle-im"></use>
      </svg>
    </button>
    <!-- v3 -->
    <button class="modal-auth__button-close-3">
      <svg class="modal-auth__close-icon-3" width="30" height="30">
        <use href="./images/icons.svg#icon-cancel-circle-im"></use>
      </svg>
    </button>

    <!-- v4 -->
    <svg width="30" height="30">
      <use href="./images/icons.svg#icon-cancel-circle-gpt"></use>
    </svg>
    <svg width="30" height="30">
      <use href="./images/icons.svg#icon-close-heric"></use>
    </svg>
    <!-- </div> -->
    <h2 class="form-auth__title">Login</h2>

    <form class="form-auth">
      <div class="form-auth__box">
        <lable class="form-auth__lable">Email</lable>
        <input type="text" name="email" class="form-auth__input" />
      </div>

      <div class="form-auth__box">
        <lable class="form-auth__lable">Password</lable>
        <input type="password" name="pass" class="form-auth__input" />
      </div>

      <div class="form-auth__box-button-form">
        <button type="submit" class="form-auth__btn-submit">Log in</button>
        <div class="form-auth__registrate">
          <p class="title-question-user">Don't have an account?</p>
          <button class="form-auth__button-reg">Register</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- <svg
  xmlns="http://www.w3.org/2000/svg"
  fill="none"
  viewBox="0 0 24 24"
  stroke-width="1.5"
  stroke="currentColor"
  class="w-6 h-6"
>
  <path
    stroke-linecap="round"
    stroke-linejoin="round"
    d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
  />
</svg> -->
