.wrapper {
  max-width: 1200px;
  padding: 0 2rem 2rem;
  margin: 0 auto;
  display: grid;
  grid-gap: 10px;
  & > * {
    // background-color: rgba(240, 239, 239, 0.881);
    color: rgb(28, 28, 28);
    border-radius: 5px;
    // padding: 2rem 1.5rem;
    font-size: 1.5rem;
  }
}
// .wrapper--aboutme {
//   grid-template-columns: 1fr 1fr 1fr;
// }
.wrapper--mainpage {
  @include desktop {
    grid-template-columns: 3fr 1fr;
  }
}
// .contact-wrapper {
//   grid-template-columns: 3fr 1fr;
// }
