.goBack {
}
.goBack-btn {
  background-color: white;
  //   color: white;
  outline: none;
  border: 1px solid green;
  border-radius: 5px;
  width: 165px;
  height: 40px;
}
.goBack-link {
  color: rgb(225, 16, 131);
}
