.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2rem 1.5rem;
  @include desktop {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}
.dpd-label {
  margin-bottom: 1rem;
}
// .dpd-select {
//   height: 100px;
// }
.overflow {
  height: 200px;
}
.ui-selectmenu-button {
  background: rgb(255, 255, 255);
  height: 50px;
  padding-left: 0.5rem;
  border-radius: 5px;
}
.ui-selectmenu-text {
  font-size: 1.2rem;
}
// .ui-selectmenu-icon {
//
// }
.ui-button:hover,
.ui-button:focus {
  border-color: green;
  background: white;
}
.ui-menu-item-wrapper:hover,
.ui-menu-item:focus {
  background: rgba(0, 128, 0, 0.8);
  color: white;
}
// .ui-menu {
//   & .ui-menu-item:hover,
//   & .ui-menu-item:focus {
//     background-color: green;
//     background: blue;
//   }
// }
.newdpd {
}
