.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2rem 1.5rem;

  @include desktop {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}
// .dpd-select {
//   margin-bottom: 2rem;
// }
.sidebar-search {
  margin-bottom: 2rem;
  position: relative;
  width: 240px;
  @include tablet {
    width: 300px;
  }
}
.sidebar-search__input {
  width: 100%;
  outline: transparent;
  -webkit-appearance: none;
  height: 40px;
  padding-left: 0.5rem;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 5px;
  background: white;
  @include transitions(border-color);
  &:hover,
  &:focus {
    border-color: green;
  }
}
.sidebar-search__btn {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  right: 12px;
  bottom: 0;
  width: 40px;
  height: 40px;
  // padding-left: 0px;
  // padding-right: 0px;
  border: none;
  outline: none;
  background-color: transparent;
}
// .sidebar-search__icon {
// }

.dpd-label {
  margin-bottom: 1rem;
  text-decoration: underline;
}
// .dpd-select {
//   height: 100px;
// }
.overflow {
  height: 110px;
  @include desktop {
    height: 200px;
  }
}
.ui-selectmenu-button {
  background: rgb(255, 255, 255);
  height: 44px;
  padding-left: 0.5rem;
  border-radius: 5px;
  margin-bottom: 2rem;
  font-size: 1.1rem;
}
// .ui-selectmenu-text {
//   font-size: 1.1rem;
// }
.ui-menu .ui-menu-item {
  font-size: 1.1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  @include desktop {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }
}
.ui-button {
  &:hover,
  &:focus {
    @include transitions(border-color, background);
    border-color: green;
    background: white;
  }
}

.ui-menu-item-wrapper:hover,
.ui-menu-item-wrapper:focus
// .ui-menu-item:hover,
// .ui-menu-item:focus
{
  &:hover,
  &:focus {
    background: rgba(0, 128, 0, 0.8);
    color: white;
  }
}

.topics {
  margin-bottom: 1rem;
  text-decoration: underline;
}
.topics-list {
  padding-right: 2rem;
  padding-left: 2rem;
  height: 44px;
  overflow: auto;
  border: 1px solid rgb(173, 171, 171);
  border-radius: 5px;
  list-style-type: disc;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.1);
  & li::marker {
    content: '●'; /* Изменяем маркер на круг (●) */
    color: rgba(0, 0, 0, 0.852); /* Меняем цвет кружочка */
    vertical-align: middle;
    font-size: 1rem;
  }
  /* Стилизация скроллбара для браузеров на основе Chromium (Chrome, Edge) */
  &::-webkit-scrollbar {
    width: 10px; /* Ширина скроллбара */
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(214, 213, 213, 0.841); /* Цвет бара прокрутки */
    border-radius: 2px; /* Скругление углов бара */
    border: 1px solid rgba(0, 0, 0, 0.63);
  }
  @include desktop {
    height: 100%;
    padding-right: 0;
    padding-left: 0;
    border: none;
    overflow: visible;
  }
}
.topics-list__item {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  @include desktop {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }

  // &:hover,
  // &.focus {
  //   color: green;
  // }
}
.topics-list__link {
  margin-left: 1rem;
  color: rgb(225, 16, 131);
  @include transitions(color);
  &:hover,
  &.focus {
    color: green;
  }
}
