.content {
  padding: 2rem 1.5rem;
  // background-color: rgba(240, 239, 239, 0.881);
  border: 1px solid rgb(221, 218, 218);
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  @include desktop {
    grid-row: 3/4;
  }
}

.content-list__item {
  display: flex;
  flex-direction: column;
  &:not(:last-child) {
    margin-bottom: 5rem;
  }
  &::after {
    content: '';
    display: block;
    width: 30%;
    border-bottom: 3px dotted black;

    margin: 0 auto;
  }
}
.content-list__link {
  color: rgb(225, 16, 131);
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: 1rem;
  font-size: 1.3rem;
  cursor: pointer;
  @include transitions(color);
  &:hover,
  &:focus {
    color: green;
    text-decoration: underline;
  }
}
//----
// .content-list__btn {
//   margin-bottom: 2rem;
//   margin-left: auto;
//   margin-right: 1rem;
//   background-color: white;
//   outline: transparent;
//   border-color: transparent;
//   color: rgb(225, 16, 131);
//   font-size: 1.3rem;
//   @include transitions(color);
//   &:hover,
//   &:focus {
//     color: green;
//     text-decoration: underline;
//   }
// }
//--------
.content-list__comments {
  font-size: 1.3rem;
  margin-bottom: 3rem;
}

.comments-quantity {
  font-size: 1.5rem;
}
.text-dashed {
  border-bottom: 1px dashed; /* Тут можно настроить толщину и цвет линии */
  display: inline; /* Чтобы линия была только под текстом */
  text-decoration: none; /* Убираем стандартное подчеркивание */
}
.article__wrapper {
  margin-bottom: 2rem;
}
.article__title {
  margin-bottom: 1rem;
}
.article__date {
  font-family: 'Crimson Text', serif;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  color: rgba(225, 16, 131, 0.902);
  font-style: italic;
}
// .article__internal {
//   display: flex;
//   flex-wrap: wrap;
// }
.article__text {
  text-align: left;
  line-height: 1.3;
  & p:not(:last-of-type) {
    margin-bottom: 1.3rem;
  }

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}

.article__img {
  margin-bottom: 1rem;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);

  @include tablet {
    margin-right: 1.3rem;
    margin-bottom: 0;
    float: left;
    width: 300px;
  }
}
.alertText {
  color: green;
  text-align: center;
}
