.footer {
  padding: 2rem 1.5rem;
  background-color: rgba(47, 48, 58, 1);
  @include desktop {
    grid-column: 1 / -1; //1/3
    grid-row: 4/5;

    /* needed for the floated layout */
    // clear: both;
  }
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  @include desktop {
    flex-direction: row;
    justify-content: space-around;
  }
}
.footer__soc-list {
  margin-bottom: 2rem;
  @include desktop {
    margin-bottom: 0;
  }
}
.footer__text {
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 1rem;
  font-size: 1rem;
}
.soc-list {
  display: flex;
}
.soc-list__item {
  width: 44px;
  height: 44px;
  &:not(:last-child) {
    margin-right: 2rem;
  }
}
.soc-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  @include transitions(background-color);
  &:hover,
  &:focus {
    background-color: rgb(0, 128, 0);
  }
}
.soc-list__icon {
  fill: currentColor;
}
.footer__mail {
}

.footer-form {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}
.footer-form__imput {
  width: 100%;
  // margin-right: 1rem;
  height: 48px;
  background-color: transparent;
  outline: transparent;
  color: rgba(255, 255, 255, 1);
  border-color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  &:focus {
    border-color: rgba(255, 255, 255, 1);
  }
  @include desktop {
    width: 292px;
  }
}
.footer-form__btn {
  color: black;
  height: 46px;
  font-variant: small-caps;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.8);
  outline: transparent;
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  @include transitions(color, background-color);
  &:focus,
  &:hover {
    background-color: rgb(0, 128, 0);
    color: rgba(255, 255, 255, 1);
  }
}
.copyright {
  color: rgba(255, 255, 255, 0.729);
  font-size: 1rem;
  text-align: center;
}
