.header {
  @include desktop {
    grid-column: 1 / -1; //1/3

    /* needed for the floated layout */
    // clear: both;
  }
}
.logo-img {
  width: 32px;
}
.header-nav__list {
  text-transform: uppercase;
  font-size: 1.6rem;
  & .current-link {
    color: green;
  }
  @include tablet {
    display: flex;
    justify-content: space-between;
  }
}
.header-nav {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.header-nav__link {
  color: black;
  &:focus,
  &:hover {
    color: green;
  }
}
